<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webowe godzinówki</title>
        <link rel="stylesheet" href="main_page.css">
    </head>
    <body>
        <nav>
            <button>Trwające projekty</button>
            <button>Zakończone projekty</button>
            <div id="navbar_right">
                <span>Witaj, <%= first_name %> <%= last_name %></span>
                <button onclick="logout()">Wyloguj się</button>
                <script>
                    function logout() {
                        document.cookie = "session_cookie=;path=/;expires=" + new Date(0).toUTCString();
                        window.location.replace("/");
                    }
                </script>
            </div>
        </nav>
        <aside id="aside">

        </aside>
        <main>
            <div id="content">
            </div>
        </main>
    </body>
</html>

<script>
    var dzialy = "<%= dzialy_names %>".split(',');
    dzialy.forEach(function(el) {
        document.getElementById("aside").innerHTML += `
            <button onclick="toggleVisibility('${el}')">${el}<br></button>
        `;

        document.getElementById("content").innerHTML += `
            <div id="${el}" class="dzial">
                dziau ${el}<br>
            </div>
        `;
    });
    function toggleVisibility(element) {
        var lel = document.getElementsByClassName("dzial")
        Array.from(lel).forEach(function(le) {
            le.style.visibility = "hidden";
        });
        document.getElementById(element).style.visibility = "visible";
    }
</script>
<script src="main_page.js">
