<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webowe godzinówki</title>
        <link rel="stylesheet" href="main_page.css">
    </head>
    <body>
        <nav>
            <button onclick="activeProjects()">Trwające projekty</button>
            <button onclick="finishedProjects()">Zakończone projekty</button>
            <% if(role_id != 4) { %>
                <button onclick="adminPanel()">Panel administracyjny</button>
            <% } %>
            <script>
                function adminPanel() {
                    document.getElementById("content").src = "admin";
                }
                function activeProjects() {
                    document.getElementById("content").src = "active_projects";
                }
                function finishedProjects() {
                    document.getElementById("content").src = "finished_projects";
                }
            </script>
            <div id="navbar_right">
                <span>Witaj, <%= first_name %> <%= last_name %></span>
                <button onclick="logout()">Wyloguj się</button>
                <script>
                    function logout() {
                        document.cookie = "session_cookie=;path=/;expires=" + new Date(0).toUTCString();
                        window.location.replace("/");
                    }
                </script>
            </div>
        </nav>
        <aside id="aside">
        </aside>
        <main>
            <iframe id="content">
            </iframe>
        </main>
    </body>
</html>
