<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="projects.css">
</head>
<body>
    <% project_names.forEach(function(project) { %>
        <div class="box">
            <span><%= project %></span>
        </div>
    <% }); %>
</body>
</html>
